PORT=3000
DATABASE_URL="postgresql://<your_user>:<your_password>@localhost:5432/calone_db?schema=public&pgbouncer=true"
DIRECT_URL="postgresql://<your_user>:<your_password>@localhost:5432/calone_db?schema=public"
FRONTEND_URL="http://localhost:5173"
